<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="singareddy.productionapps.capturethemoment">

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".book.EditBookActivity"></activity>
        <activity android:name=".book.InsideBookActivity"></activity>
        <activity
            android:name=".book.AddBookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.ProfileUpdateActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".user.SignupActivity" />
        <activity
            android:name=".user.MobileLoginActivity"
            android:parentActivityName=".user.LoginActivity" />
        <activity android:name=".user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ExperimentActivity" />
    </application>

</manifest>